.services {
  .content-with-heading-container {
  }

  .grid_container {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: column;

    .grid_item {
      h3 {
      }

      p {
        margin: 0;
        color: #fff !important;
        font-style: italic;
      }

      &:nth-of-type(4n + 3),
      &:nth-of-type(4n + 4) {
        text-align: end;
      }
    }

    .grid_img_item {
      justify-self: center;
      align-self: center;
      // margin: 0 auto;
      grid-row: 1/-1;
      grid-column: 2/3;
    }

    @media (max-width: 800px) {
      grid-template: repeat(5, auto) / auto;

      .grid_img_item {
        max-width: 10rem;
        grid-row: 1/2;
        grid-column: 1/-1;
      }

      .grid_item{
        text-align: left !important;
      }
    }
  }
}
