@import url("https://css.gg/pin.css");
@import url("https://css.gg/phone.css");
@import url("https://css.gg/mail.css");

.main {
  .hero {
    background-color: #ffd800;
    overflow: hidden;

    .grid_container {
      min-height: 100vh !important;
      display: grid;
      place-content: center;
      grid-template: auto auto / repeat(3, auto);
      // gap: 1rem;

      .shaped_item {
        display: block;
        width: 10rem;
        height: 10rem;
        text-align: center;
        background-color: #111;
        color: #fff;
        display: inline-grid;
        place-content: center;
        transition: 0.3s ease;
        // border-radius: 100%;
        // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(
          25% 12.5%,
          75% 12.5%,
          100% 50%,
          75% 87.5%,
          25% 87.5%,
          0% 50%
        );

        &:nth-of-type(3n + 1) {
          transform: translate(0, 5rem) scale(1.25);
        }

        &:nth-of-type(3n + 2) {
          transform: translate(0, -0) scale(1.25);
        }

        &:nth-of-type(3n + 3) {
          transform: translate(0, -5rem) scale(1.25);
        }

        .title {
          transition: 0.1s ease;
          font-weight: bold;
        }

        &:hover,
        &:focus-within,
        &:focus {
          background-color: rgba(0, 0, 0, 0.8);

          .title {
            color: #ffd800;
            transform: scale(0.8);
          }
        }
      }

      @media (max-width: 600px) {
        transform: scale(0.8);
      }

      @media (max-width: 510px) {
        transform: scale(0.7);
      }

      @media (max-width: 410px) {
        transform: scale(0.6);
      }

      @media (max-width: 310px) {
        transform: scale(0.5);
      }
    }
  }

  .expertise {
    color: #fff;

    .main_title {
      background-color: #f8c100;
      padding: 0.5em clamp(2em, 5vw, 4em);
      margin: 0;
      font-size: clamp(1.1rem, 5vw, 2rem);
      color: #111;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, 2rem);
      z-index: 2;
    }

    .grid_container {
      display: grid;
      grid-template: 1fr /2fr 1fr;

      .table_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 1rem;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        padding-right: 0;

        .table_item {
          border-top: 1px solid #333;
          display: flex;
          gap: 2rem;
          height: 10rem;

          .number {
            color: #666669;
            font-size: 2.5rem;
            font-weight: bolder;
            margin: 0;
            margin-top: 2rem;
          }

          .title {
            color: #fff;
            font-size: 2rem;
            margin: 0;
            margin-top: 2rem;
            max-width: 15rem;
          }
        }
      }

      .image_item {
        .image_container {
          // height: 100%;
          // display: block;
          // position: relative;

          .expertise_img {
            display: block;
          }
        }
      }
    }

    // mobile rules
    @media (max-width: 750px) {
      .grid_container {
        grid-template: auto auto/ 1fr;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .image_item {
          grid-row: 1/2;
          grid-column: 1/-1;

          .img_container {
            display: block;
            height: 20rem;
            overflow: hidden;

            .expertise_img {
            }
          }
        }

        .table_container {
          grid-row: 2/3;
          grid-column: 1/-1;
          grid-template: unset;
          gap: 1rem;

          .table_item {
            height: auto;
            // padding-top: 2rem;

            & > * {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }

  .about {
    padding: clamp(2rem, 5vw, 5rem) 0;

    .grid_container {
      display: grid;
      grid-template: 1fr / auto auto;
      justify-content: space-between;
      gap: 3rem;
      padding: 0 2rem;
      max-width: 1400px;
      margin: auto;

      .img_container {
        position: relative;

        .main_title {
          background-color: #f8c100;
          padding: 0.5em 4em;
          margin: 0;
          font-size: 2rem;
          font-weight: bold;
          color: #111;
          display: inline-block;
          position: absolute;
          bottom: 2rem;
          left: 50%;
        }
      }

      .content_container {
        text-align: center;
        max-width: 520px;

        .heading {
          color: #6f7174;
          font-size: 1.5rem;
          max-width: 300px;
          margin: 0 auto;
          position: relative;

          &::after {
            content: "";
            display: block;
            margin: 1.5rem auto;
            width: 2rem;
            border-bottom: 1px solid #f8c100;
          }
        }

        p {
          font-weight: bold;
        }
      }
    }

    // mobile rules
    @media (max-width: 750px) {
      .grid_container {
        grid-template: auto auto / 1fr;
        gap: 1rem;

        .img_container {
          height: 20rem;
          overflow: hidden;

          .main_title {
            padding: 0.5em 2em;
            font-size: 1.5rem;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  .img_grid_section {
    display: grid;
    place-content: center;

    // mobile rules
    @media (max-width: 750px) {
      min-height: unset;
    }
  }

  .contact {
    padding: 3rem 0;
    // padding-bottom: 0;

    .grid_container {
      display: grid;
      grid-template: 1fr / auto auto;
      justify-content: space-between;
      gap: 3rem;
      padding: 0 2rem;
      max-width: 1400px;
      margin: auto;
      border-bottom: 2px solid #333;
      padding-bottom: 3rem;

      .img_container {
        position: relative;

        .main_title {
          background-color: #f8c100;
          padding: 0.5em 4em;
          width: max-content;
          margin: 0;
          font-size: 2rem;
          font-weight: bold;
          color: #111;
          display: inline-block;
          position: absolute;
          bottom: 3rem;
          left: 50%;
        }
      }

      .content_container {
        text-align: right;
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading {
          color: #fff;
          font-size: 3rem;
        }

        .address_container {
          color: #f9c100;
          font-size: 1.2rem;

          .address_item {
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
              // transform: scale(1.2) rotate(inherit);
            }

            address {
              text-transform: none;
              font-style: normal;
            }

            a {
              // font-size: 1.5rem;
            }
          }
        }
      }
    }

    // mobile rules
    @media (max-width: 750px) {
      min-height: unset;

      .grid_container {
        grid-template: unset;
        justify-content: center;
        width: 100%;
        padding: 0;

        .img_container {
          height: 20rem;
          width: 100%;
          overflow: hidden;

          .cotact_img {
            object-fit: cover;
            object-position: center;
            width: 100%;
          }

          .main_title {
            padding: 0.5em 2em;
            font-size: 1.5rem;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            width: 100%;
            text-align: center;
          }
        }

        .content_container {
          width: 100%;
          padding: 0 5%;

          .heading {
            margin: 0;
          }

          .address_container {
            margin-top: 2rem;

            .address_item {
              address {
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

.expertise,
.about,
.img_grid_section,
.contact {
  background-color: #1a1a1a;
  color: #fff;
  min-height: 70vh;

  // mobile rules
  @media (max-width: 750px) {
    min-height: unset;
  }
}
