@font-face {
  font-family: "Afrah-Regular";
  src: url(../public/Afrah-Regular.ttf);
}
@font-face {
  font-family: "Afrah-Bold";
  src: url(../public/Afrah-Bold.ttf);
}
@font-face {
  font-family: "Afrah-Light";
  src: url(../public/Afrah-Light.ttf);
}
@font-face {
  font-family: "Afrah-Round";
  src: url(../public/Afrah-Round.ttf);
}
@font-face {
  font-family: "Afrah-Thin";
  src: url(../public/Afrah-Thin.ttf);
}
