@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  nav {
    transition: 0.3s ease;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .logo-container {
      .logo {
        font-size: 2rem;
        font-weight: bolder;
      }
    }

    .links-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
    }

    &.show-bg {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0.5rem 2rem;
    }
  }
}
